@import "variables";

.main {
    width: 100%;
    height: calc(100vh - 72px);
    background: $beckingBlack;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
