@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

$techFont: 'Share Tech Mono', monospace;

$blackBlued: #222831;
$beautyGrey: #393E46;
$neonBlue: #00ADB5;
$beckingBlack: #333333;

$neonBlueHover: #00ADB530;

